
@{
    ViewBag.Title = "StartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Start Page</h2>
<div>
    <a href="~//Home//About">About</a>
    <br/>
    @Html.ActionLink("Click Here", "Contact")
    <br/>
    @Html.ActionLink("Index_S","Index","Student")
</div>

